<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>追求完美，做事认真讲原则</string>
	<string>博爱，乐于助人，感情直接</string>
	<string>事业至上，看中成就和影响力</string>
	<string>感性自我，向往浪漫和不平凡</string>
	<string>喜欢观察分析，喜欢理性思考</string>
	<string>对人忠诚，遇事谨慎，看重安全感</string>
	<string>性格外向乐观，自由自在</string>
	<string>自信心强，喜欢挑战自我，敢作敢为</string>
	<string>性格平和，有包容心和耐心</string>
</array>
</plist>
