<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>爱情就是生活，我追求轰轰烈烈的爱情</string>
	<string>不在乎天长地久，只在乎曾今拥有</string>
	<string>对爱情忠贞不二，专心一致，永不分离</string>
	<string>重视感觉，感觉对就在一起，感觉不对就不勉强</string>
	<string>尊重对方隐私，给对方适当的独立空间</string>
	<string>爱情如水，平平坦坦才是真</string>
</array>
</plist>
