<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>一手好厨艺，吃饭不用愁</string>
	<string>丰厚的经济基础，让你衣食无忧</string>
	<string>温柔体贴，做你成功的后盾</string>
	<string>踏实专一的爱，守护在你身边</string>
	<string>特殊节日鲜花礼物不会少</string>
	<string>不惧风雨，定时接送服务</string>
	<string>三餐照顾，随传随到，我最勤快</string>
	<string>上山下海，陪你游遍天涯海角</string>
	<string>经济独立，不给伴侣经济压力</string>
	<string>我的好，一定要在交往中慢慢体会</string>
	<string>上得厅堂，下得厨房，吃饭不愁</string>
	<string>天性善良，孝顺父母</string>
	<string>独立自信，给对方有利的经济支持</string>
	<string>社交场合中大方得体，让你在亲友面前有面子</string>
	<string>路遥知马力你会慢慢看到我的优点</string>
	<string>五星级的甜言蜜语，24小时随叫随到</string>
	<string>打是情，骂是爱，终生当你的出气筒</string>
	<string>注重家庭，一碗水端平，您的父母就是我的爹娘</string>
</array>
</plist>
