<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>爱情一定要以结婚为目的</string>
	<string>如果有合适的人，在不久的将来，我会结婚</string>
	<string>婚姻是爱情的坟墓，暂时不考虑</string>
	<string>金钱是一条很重要的择偶标准</string>
	<string>婚姻生活中的双方应该是透明的</string>
	<string>尊重彼此的自由是婚姻幸福的重要原则</string>
</array>
</plist>
